.DS_Store
jsConfigs.js

# local env files
.env
.env.local
.env.*.local

# data folders

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*dist
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/workspace.xml
node_modules/*
!node_modules/@keystonejs
node_modules/@keystonejs/*
!node_modules/@keystonejs/app-admin-ui

jsConfigs0.js
/dbbak

medias/teams
logs
